<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--导入hibernate5的配置文件-->
    <import resource="springPersistence.xml"/>
    <!-- 导入action的配置文件-->
    <import resource="springAction.xml"/>
    <!-- 导入 Business Object的 配置文件-->
    <import resource="springPojoBO.xml"/>
    <!--导入Value Object 的配置文件-->
    <import resource="springPojoVO.xml"/>
    <!--导入DAO 的配置文件-->
    <import resource="springPojoDAO.xml"/>

</beans>