<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="messageReceiverVO" class="pojo.valueObject.assist.MessageReceiverVO" scope="prototype">
        <!--<property name="messageVO" ref="messageVO"/>-->
        <!--<property name="receiverUserVO" ref="userVO"/>-->
    </bean>

    <bean id="teamProjectVO" class="pojo.valueObject.assist.TeamProjectVO" scope="prototype">
        <!--<property name="projectVO" ref="projectVO"/>-->
        <!--<property name="teamVO" ref="teamVO"/>-->
    </bean>

    <bean id="studentProjectFileVO" class="pojo.valueObject.assist.StudentProjectFileVO" scope="prototype">

    </bean>

    <bean id="studentProjectPlanVO" class="pojo.valueObject.assist.StudentProjectPlanVO" scope="prototype">
        <!--<property name="planVO" ref="planVO"/>-->
        <!--<property name="projectVO" ref="projectVO"/>-->
        <!--<property name="studentVO" ref="studentVO"/>-->
    </bean>

    <bean id="studentTeamVO" class="pojo.valueObject.assist.StudentTeamVO" scope="prototype">
        <!--<property name="studentVO" ref="studentVO"/>-->
        <!--<property name="teamVO" ref="teamVO"/>-->
    </bean>

    <bean id="teamProjectAccessVO" class="pojo.valueObject.assist.TeamProjectAccessVO" scope="prototype">
        <!--<property name="taskVO" ref="taskVO"/>-->
        <!--<property name="teamProjectVO" ref="teamProjectVO"/>-->
    </bean>

    <bean id="studentScoreVO" class="pojo.valueObject.assist.StudentScoreVO" scope="prototype"/>

    <bean id="projectAccessTypeVO" class="pojo.valueObject.assist.ProjectAccessTypeVO" scope="prototype"/>

    <bean id="projectTaskVO" class="pojo.valueObject.assist.ProjectTaskVO" scope="prototype"/>
</beans>