<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userBO" class="pojo.businessObject.UserBO"/>
    <bean id="teamBO" class="pojo.businessObject.TeamBO"/>
    <bean id="teacherBO" class="pojo.businessObject.TeacherBO"/>
    <bean id="planBO" class="pojo.businessObject.PlanBO"/>
    <bean id="projectBO" class="pojo.businessObject.ProjectBO"/>
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->
    <!--<bean id="userBO" class="pojo.businessObject.UserBO" scope="prototype"/>-->


</beans>