<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pojo"/>
    <!--domain层的主要VO们-->
    <bean id="applicationVO" class="pojo.valueObject.domain.ApplicationVO" scope="prototype">
        <!--<property name="teamVO" ref="teamVO"/>-->
        <!--<property name="projectVO" ref="projectVO"/>-->
        <!--<property name="handlerUserVO" ref="userVO"/>-->
        <!--<property name="affectedUserVO" ref="userVO"/>-->
    </bean>

    <bean id="codeVO" class="pojo.valueObject.domain.CodeVO" scope="prototype">
        <!--<property name="projectVO" ref="projectVO"/>-->
        <!--<property name="teamVO" ref="teamVO"/>-->
    </bean>

    <bean id="ecFileVO" class="pojo.valueObject.domain.ECFileVO" scope="prototype">
        <!--<property name="creatorUserVO" ref="userVO"/>-->
    </bean>

    <bean id="managerVO" class="pojo.valueObject.domain.ManagerVO" scope="prototype"/>

    <bean id="messageVO" class="pojo.valueObject.domain.MessageVO" scope="prototype">
        <!--<property name="senderUserVO" ref="userVO"/>-->
        <!--<property name="receiverUserVOSetSet">-->
            <!--<set/>-->
        <!--</property>-->
    </bean>

    <bean id="noticeVO" class="pojo.valueObject.domain.NoticeVO" scope="prototype">
        <!--<property name="creatorUserVO" ref="userVO"/>-->
        <!--<property name="publishUserVO" ref="userVO"/>-->
    </bean>

    <bean id="planVO" class="pojo.valueObject.domain.PlanVO" scope="prototype">
        <!--<property name="studentVO" ref="studentVO"/>-->
    </bean>

    <bean id="projectVO" class="pojo.valueObject.domain.ProjectVO" scope="prototype">
        <!--<property name="creatorUserVO" ref="userVO"/>-->
        <!--<property name="teacherVO" ref="teacherVO"/>-->
        <property name="teamVOSet">
            <set/>
        </property>
    </bean>

    <bean id="studentVO" class="pojo.valueObject.domain.StudentVO" scope="prototype"/>

    <bean id="taskVO" class="pojo.valueObject.domain.TaskVO" scope="prototype">
        <!--<property name="creatorTeacherVO" ref="teacherVO"/>-->
        <property name="projectVOSet">
            <set/>
        </property>
    </bean>

    <bean id="teacherVO" class="pojo.valueObject.domain.TeacherVO" scope="prototype">
        <property name="projectVOSet">
            <set>
            </set>
        </property>
    </bean>

    <bean id="teamVO" class="pojo.valueObject.domain.TeamVO" scope="prototype">
        <!--<property name="creatorStudentVO" ref="studentVO"/>-->
        <property name="projectVOSet">
            <set/>
        </property>
        <property name="studentVOSet">
            <set/>
        </property>
    </bean>

    <bean id="userVO" class="pojo.valueObject.domain.UserVO">
        <property name="messageVOSet">
            <set>
            </set>
        </property>
    </bean>


    <!--<bean id="test" class="pojo.valueObject.domain.Test">-->
        <!--<property name="age" value="22"/>-->
        <!--<property name="test2">-->
            <!--&lt;!&ndash;使用嵌套Bean定义setTest2方法的参数值&ndash;&gt;-->
            <!--<bean class="pojo.valueObject.domain.Test2">-->
                <!--<property name="age" value="11"/>-->
            <!--</bean>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<bean id="son1" class=-->
            <!--"org.springframework.beans.factory.config.PropertyPathFactoryBean">-->
        <!--&lt;!&ndash;确定目标bean，指定son1 Bean来自哪个bean的getter方法&ndash;&gt;-->
        <!--<property name="targetBeanName" value="test"/>-->
        <!--&lt;!&ndash;确定目标bean，指定son1 Bean来自该bean的哪个getter方法&ndash;&gt;-->
        <!--<property name="propertyPath" value="test2"/>-->
        <!--&lt;!&ndash;根据配置，从上下文获取就是得到getTest.getTest2()&ndash;&gt;-->
    <!--</bean>-->






    <!-- DTO的VO -->
    <bean id="userDTO" class="pojo.valueObject.DTO.UserDTO" scope="prototype"/>
    <bean id="studentDTO" class="pojo.valueObject.DTO.StudentDTO" scope="prototype"/>
    <bean id="teacherDTO" class="pojo.valueObject.DTO.TeacherDTO" scope="prototype"/>
    <bean id="managerDTO" class="pojo.valueObject.DTO.ManagerDTO" scope="prototype"/>
    <bean id="teamDTO" class="pojo.valueObject.DTO.TeamDTO" scope="prototype"/>
    <bean id="applicationDTO" class="pojo.valueObject.DTO.ApplicationDTO" scope="prototype"/>
    <bean id="codeDTO" class="pojo.valueObject.DTO.CodeDTO" scope="prototype"/>
    <bean id="ecFileDTO" class="pojo.valueObject.DTO.ECFileDTO" scope="prototype"/>
    <bean id="messageDTO" class="pojo.valueObject.DTO.MessageDTO" scope="prototype"/>
    <bean id="noticeDTO" class="pojo.valueObject.DTO.NoticeDTO" scope="prototype"/>
    <bean id="planDTO" class="pojo.valueObject.DTO.PlanDTO" scope="prototype"/>
    <bean id="projectDTO" class="pojo.valueObject.DTO.ProjectDTO" scope="prototype"/>
    <bean id="taskDTO" class="pojo.valueObject.DTO.TaskDTO" scope="prototype"/>

    <!--JSONObject-->
    <bean id="jsonObject" class="net.sf.json.JSONObject" scope="prototype"/>

    <!-- 集合 -->
    <bean id="arrayList" class="java.util.ArrayList" scope="prototype"/>
</beans>